body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Cardo', serif;
    font-size: 14px;
    color: #6c7279;

    background-color: #ffffff;

}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/* Conteiner
________________________________*/

.conteiner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Header
________________________________*/

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    align-items: center;
    border-bottom: 1px solid #515369
}


/* Nav
________________________________*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.2s;
}

.nav__link:first-child {
    margin-left: 0px;
}

.nav__link:hover {
    text-decoration: underline;
    opacity: 1;
}

/* Intro
________________________________*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background: url("img/1.jpg") center;
}

.intro__inner{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;

}

.intro__title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}